# Python - Loops (for and while) [3.7]

## resources
https://docs.python.org/3/tutorial/controlflow.html

 - for loop
 - while loop

### for loop

In [1]:
range(0,9)

range(0, 9)

In [2]:
r=range(0,9) # range

In [8]:
print(r)

range(0, 9)

In [9]:
lr=list(r) # list of range
tr=tuple(r) # tuple of range
sr=set(r) # set of range

In [18]:
type(lr)

list

In [21]:
type(tr)

tuple

In [22]:
type(sr)

set

In [10]:
lr

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
tr

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [12]:
sr

{0, 1, 2, 3, 4, 5, 6, 7, 8}

###### loop through a list

In [13]:
for i in lr:
    print(i)

0
1
2
3
4
5
6
7
8

###### loop through a tuple

In [14]:
for i in tr:
    print(i)

0
1
2
3
4
5
6
7
8

###### loop through a set

In [15]:
for i in sr:
    print(i)

0
1
2
3
4
5
6
7
8

so the iteration happens the same way for list, tuple and set.

In [23]:
ls1=['one','two','three']
ls2=[1,2,3]

In [24]:
zip(ls2,ls1)

In [25]:
dict(zip(ls2,ls1))

{1: 'one', 2: 'two', 3: 'three'}

In [26]:
dc=dict(zip(ls2,ls1))

In [27]:
dc

{1: 'one', 2: 'two', 3: 'three'}

###### loop through a dictionary

In [29]:
for i in dc:
    print(i)

1
2
3

In [35]:
dc.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [33]:
for key,value in dc.items():
    print(key,value)

1 one
2 two
3 three

In [34]:
for k,v in dc.items():
    print(k,v)

1 one
2 two
3 three

In [36]:
for i in dc.items():
    print(i)

(1, 'one')
(2, 'two')
(3, 'three')

### while loop

In [39]:
n=0
while n<9:
    print(n)
    n=n+1

0
1
2
3
4
5
6
7
8

In [40]:
while True:
    print('hello')
    break #without this it will enter an infinite loop
# open a python terminal and type

hello

In [41]:
while True:print('hello');break

hello

open up a python terminal and run the below code and it will endlessly print hello untill you terminate it.  
`while True:print('hello')`