# Python3.7 - Data Types - Tuple

## Resources  
https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

In [1]:
t=() # create empty tuple

In [96]:
type(t)

tuple

In [92]:
tu=(1)

In [93]:
type(tu)

int

In [94]:
tu=(1,) # a tuple with single value should have a comma otherwise it will be unpacked as a variable

In [95]:
type(tu)

tuple

In [3]:
t=1,2

In [4]:
type(t)

tuple

In [5]:
t=(1,2)

In [6]:
type(t)

tuple

In [7]:
import string

In [8]:
string.digits

'0123456789'

In [9]:
t1=string.digits

In [10]:
type(t1)

str

In [11]:
t1=tuple(t1)

In [12]:
t1

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

##### tuple packing

In [13]:
t2=1,2,3

In [14]:
type(t2)

tuple

In [15]:
t2

(1, 2, 3)

##### sequence unpacking  
It does something opposite of tuple packing.  
It maps the values on the left with the valus of the tuple on the right.

In [1]:
x,y,z=t2

NameError: name 't2' is not defined

In [17]:
t2

(1, 2, 3)

In [18]:
x

1

In [19]:
y

2

In [21]:
z

3

In [22]:
bool1=(True, True, True)
bool2=(True, False, True)

In [23]:
all(bool1) # check if all boolean values are True

True

In [24]:
all(bool2)

False

In [27]:
any(bool1) # check if any boolean value is True

True

In [26]:
any(bool2)

True

In [28]:
t1

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

In [29]:
enumerate(t1)

In [31]:
tuple(enumerate(t1))

((0, '0'),
 (1, '1'),
 (2, '2'),
 (3, '3'),
 (4, '4'),
 (5, '5'),
 (6, '6'),
 (7, '7'),
 (8, '8'),
 (9, '9'))

In [34]:
tuple(enumerate(t1, 8))

((8, '0'),
 (9, '1'),
 (10, '2'),
 (11, '3'),
 (12, '4'),
 (13, '5'),
 (14, '6'),
 (15, '7'),
 (16, '8'),
 (17, '9'))

In [37]:
len(t1) # length of a tuple

10

In [38]:
max(t1) # returns the largest item in the tuple

'9'

In [39]:
min(t1) # returns the smallest item in the tuple

'0'

In [40]:
t1

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

In [41]:
t2

(1, 2, 3)

In [44]:
t1 + t2 # returns a new concatenated tuple

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 1, 2, 3)

In [47]:
t1 # original remains unchanged

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

In [49]:
t2 # original remains unchanged

(1, 2, 3)

In [50]:
3*t2 # repetition

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [51]:
t2 # original remains the same

(1, 2, 3)

In [55]:
1 in t2 # membership operators (in, not in)

True

In [56]:
11 in t2 # membership operators (in, not in)

False

In [57]:
11 not in t2 # membership operators (in, not in)

True

In [58]:
for i in t2:print(i) # iteration

1
2
3

In [59]:
t3=([1,2],[3,4],[5,6]) # a tuple with list as its elements

In [60]:
t3[0]

[1, 2]

In [64]:
t3[0][0]

1

In [67]:
t3[0][0]=9 # lists are mutable

In [66]:
t3

([9, 2], [3, 4], [5, 6])

In [68]:
t2

(1, 2, 3)

In [70]:
sorted(t1) # returns a sorted list

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [71]:
t1

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

In [72]:
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [73]:
jl=['batman','batman','flash']

In [74]:
type(jl)

list

In [76]:
tuple(jl) # converts a collection into a tuple

('batman', 'batman', 'flash')

In [87]:
t1.count('1') # counts the given element in the tuple

1

In [88]:
t1.count(1)

0

In [91]:
t1.index('9') # gives the index of the given element from the tuple

9