# Python3.7 - Data Types - Sets

**set is an unordered collection with no duplicate elements**

In [3]:
jlt=('batman','superman','aquaman','flash','cyborg','wonderwoman') # Justice League Tuple

In [7]:
jlt

('batman', 'superman', 'aquaman', 'flash', 'cyborg', 'wonderwoman')

In [4]:
type(jlt)

tuple

In [5]:
jll=list(jlt) # Justice League tuple

In [6]:
jll

['batman', 'superman', 'aquaman', 'flash', 'cyborg', 'wonderwoman']

In [8]:
set(jll) # convert list to set

{'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [9]:
set(jlt) # convert tuple to set

{'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [10]:
jls=set(jlt)

In [11]:
jls

{'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [16]:
cy={'cyborg'}

In [17]:
type(cy)

set

In [18]:
jls-cy

{'aquaman', 'batman', 'flash', 'superman', 'wonderwoman'}

In [20]:
jls # original is unaffected

{'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [22]:
set('python') # you can quickly order the letters of a string

{'h', 'n', 'o', 'p', 't', 'y'}

In [23]:
set('cython')

{'c', 'h', 'n', 'o', 't', 'y'}

In [24]:
set('python') - set('cython')

{'p'}

In [25]:
p=set('python')
c=set('cython')

In [26]:
p-c # letters in p but not in c

{'p'}

In [27]:
c-p # letters in c but not in p

{'c'}

In [28]:
p | c # letters in p or c

{'c', 'h', 'n', 'o', 'p', 't', 'y'}

In [29]:
p & c # letters in p and c

{'h', 'n', 'o', 't', 'y'}

In [30]:
p ^ c # letters in p or c but not in both

{'c', 'p'}

In [33]:
len(p) # length of a set

6

In [36]:
'p' in p # check if 'p' is a member of set p

True

In [37]:
'c' in p # check if 'c' is a member of set p

False

In [39]:
'c' not in p # check if 'c' is not a member of set p

True

In [40]:
 p

{'h', 'n', 'o', 'p', 't', 'y'}

In [43]:
p+c

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [44]:
p.add('k')

In [45]:
p

{'h', 'k', 'n', 'o', 'p', 't', 'y'}

In [46]:
p.add(9)

In [47]:
p

{9, 'h', 'k', 'n', 'o', 'p', 't', 'y'}

##### set.add(x) adds element x to a given set

In [48]:
jls

{'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [53]:
t=(1,9)

In [54]:
jls.add(t) # you can add a tuple to a set

In [55]:
jls

{(1, 9), 'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [56]:
l=[2,8]

In [59]:
jls.add(l) # you cannot add a list to a set

TypeError: unhashable type: 'list'

In [61]:
jlf=frozenset(jls)

In [62]:
jlf

frozenset({(1, 9),
           'aquaman',
           'batman',
           'cyborg',
           'flash',
           'superman',
           'wonderwoman'})

In [63]:
jlf.add(99)

AttributeError: 'frozenset' object has no attribute 'add'

In [65]:
type(jlf) # frozenset freezes a set or makes it immutable.

frozenset

In [66]:
jls

{(1, 9), 'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [67]:
jls.pop()

'aquaman'

In [68]:
jls.pop()

'batman'

In [69]:
jls

{(1, 9), 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [70]:
jls.pop()

'cyborg'

**set.pop() behaves differently than list.pop(). list.pop() pops out the last element of a list unlike set.pop()**

In [72]:
jls

{(1, 9), 'flash', 'superman', 'wonderwoman'}

In [73]:
jls.remove((1,9)) # set.remove(x) removes the element x from the set.

In [74]:
jls

{'flash', 'superman', 'wonderwoman'}

In [79]:
jlc=jls.copy() # set.copy() copies a set

In [76]:
jlc

{'flash', 'superman', 'wonderwoman'}

In [77]:
id(jlc)

21031312

In [78]:
id(jls)

92095592

In [81]:
jls.clear() # set.clear() empties or clears out a set

In [82]:
jls

set()

In [83]:
jlt

('batman', 'superman', 'aquaman', 'flash', 'cyborg', 'wonderwoman')

In [84]:
jls=set(jlt)

In [85]:
jls

{'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [86]:
jlc

{'flash', 'superman', 'wonderwoman'}

In [87]:
p

{9, 'h', 'k', 'n', 'o', 'p', 't', 'y'}

In [88]:
c

{'c', 'h', 'n', 'o', 't', 'y'}

In [89]:
p.difference(c)

{9, 'k', 'p'}

**set1.difference(set2) returns 
a set of values set1-set2, meaning all values which are in set2 are removed from set1 and the remaining values of set1 are returned.  
[or]  
a set of values which are unique to set1 against set2  
[or]  
returns the result of set1-set2**

In [90]:
p-c

{9, 'k', 'p'}

In [91]:
c.difference(p)

{'c'}

In [92]:
c-p

{'c'}

In [93]:
p.difference(c)

{9, 'k', 'p'}

In [116]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}

In [120]:
A.difference(B) # returns a new set containing values which are unique in A against B. Same as A-B

{1, 2}

In [118]:
A # the original set A is unchanged

{1, 2, 3, 4, 5}

In [121]:
B # the original set B is unchanged

{3, 4, 5, 6, 7}

**but in the world of mathematics if you subtract B from A then A gets changed. So for that real world difference checking you should use
set1.difference_update(set1)**

In [123]:
A.difference_update(B) # This modifies set A with the result.

In [126]:
A # now this returns a different value than the origianl value of A

{1, 2}

In [127]:
B

{3, 4, 5, 6, 7}

In [128]:
# Let us do the opposite

In [5]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}

In [130]:
A

{1, 2, 3, 4, 5}

In [131]:
B

{3, 4, 5, 6, 7}

In [132]:
B.difference_update(A)

In [133]:
B

{6, 7}

In [134]:
A

{1, 2, 3, 4, 5}

In [135]:
A

{1, 2, 3, 4, 5}

In [136]:
A.remove(9)

KeyError: 9

In [141]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}

{1, 2, 3, 4, 5}

In [137]:
A.discard(9)

In [142]:
A

{1, 2, 3, 4, 5}

In [143]:
A.discard(1)

In [144]:
A

{2, 3, 4, 5}

**set.remove(x) removes an element x if present and if absent it will throw an error.  
set.discard(x) removes an element x if present and if absent it will ***not*** throw an error.**

In [13]:
C={4,5,6,7,8}

In [5]:
A.intersection(B) # The elements which are common between 2 sets A and B

{3, 4, 5}

In [8]:
B.intersection(A) # same as above

{3, 4, 5}

In [9]:
A.intersection(B, C) # elements which are common between A,B,C.

{4, 5}

**set1.intersection(*other_sets) # returns a set of common elements between set1 and other_sets**

In [18]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}

In [19]:
A.intersection_update(B)

In [20]:
A

{3, 4, 5}

In [21]:
B.intersection_update(C)

In [22]:
B

{4, 5, 6, 7}

In [23]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}

In [24]:
A.intersection_update(B,C)

In [25]:
A

{4, 5}

**A.intersection_update(B,C) updates the set A with the intersecting (common) values of A, B, C.**

In [26]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}  
D = {9,10,11,12}

In [27]:
A.isdisjoint(B) # check if set A and set B have common elements

False

In [28]:
B.isdisjoint(C) # check if set B and set C have common elements

False

In [30]:
B.isdisjoint(D) # check if set B and set D have common elements

True

**set1.isdisjoin(set2) check if set1 has common elements with set2**

In [31]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}  
D = {9,10,11,12}
E = {4,5}

In [32]:
A.issubset(B) # Is set A subset of set B ?

False

In [33]:
A.issubset(E) # Is set A subset of set E ?

False

In [34]:
E.issubset(A) # Is set E subset of set A ?

True

In [36]:
E.issubset(B) # Is set E subset of B ?

True

**set1.issubset(set2) If all members of set1 are in set2 then set1 is a subset of set2.**

In [37]:
E.issubset(B)

True

In [39]:
B.issuperset(E) # Is set B superset of set A

True

In [41]:
A.issuperset(E) # Is set A superset of set E

True

**set1.issuperset(set2) set1 is a superset of set2 if set1 has all the elements of set2.  
then inversely it also means that set2 is a subset of set1**  
It is like if John is father of jill then jill is son/daughter of john

In [43]:
A.symmetric_difference(B)

{1, 2, 6, 7}

In [51]:
B.symmetric_difference(C)

{3, 4, 5, 6, 7}

In [44]:
A.symmetric_difference(C)

{1, 2, 3, 6, 7, 8}

In [45]:
A.symmetric_difference(E)

{1, 2, 3}

**symmetric_difference() returns a new set with elements which are unique to each set.**

In [47]:
A.symmetric_difference_update(B)

In [48]:
A

{1, 2, 6, 7}

In [52]:
B.symmetric_difference_update(C)

In [50]:
B

{3, 8}

In [53]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7}

In [55]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}  
D = {9,10,11,12}
E = {4,5}

In [56]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7}

In [58]:
A.union(C)

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
A.union(E)

{1, 2, 3, 4, 5}

In [60]:
A.union(B,D,E)

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12}

**set1.uniont(*other_sets) combines set1 with other_sets**

In [62]:
A|B

{1, 2, 3, 4, 5, 6, 7}

In [65]:
A|B|C # set1|set2|set3

{1, 2, 3, 4, 5, 6, 7, 8}

In [66]:
ls=(88,99)

In [72]:
type(ls)

tuple

In [67]:
A

{1, 2, 3, 4, 5}

In [68]:
A.update(B)

In [69]:
A

{1, 2, 3, 4, 5, 6, 7}

In [70]:
A.update(ls)

In [71]:
A

{1, 2, 3, 4, 5, 6, 7, 88, 99}

**set1.update(set/list/dictionoary) updates the given set1 with the values of set or list or dictionary**

In [116]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}  
D = {9,10,11,12}
E = {4,5}
F = {'bat':'bruce', 'sup':'clark'}
G = {'hey'}
H = {True, True}
I = {True, False}
J = {False, False}

In [74]:
A

{1, 2, 3, 4, 5}

In [75]:
A.update(E)

In [76]:
A

{1, 2, 3, 4, 5}

In [77]:
A.update(F)

In [78]:
A

{1, 2, 3, 4, 5, 'bat', 'sup'}

In [79]:
A.update(G)

In [80]:
A

{1, 2, 3, 4, 5, 'bat', 'hey', 'sup'}

In [83]:
any(H)

True

In [85]:
any(I)

True

In [86]:
any(J)

False

**any(set) checks if the given set has atleast one True value in it.**

In [88]:
all(H)

True

In [89]:
all(I)

False

In [90]:
all(J)

False

**all(set) checks if all values of the set are True**

In [92]:
ascii(A)

'{1, 2, 3, 4, 5}'

In [93]:
ascii(C)

'{4, 5, 6, 7, 8}'

**The ascii() method returns a string containing a printable representation of an object**

In [97]:
ascii('Pythön') # It auto escapes non ascii characters

"'Pyth\\xf6n'"

In [98]:
ascii('√')

"'\\u221a'"

In [99]:
bool(0)

False

In [100]:
bool(0.0)

False

In [101]:
bool(())

False

In [102]:
bool([])

False

In [103]:
bool(9)

True

bool() converts a given value to True or False.  
All of the below return False in python bool().  

|bool() False||
|-----|-----|
|None||
|False||
|0||
|0.0||
|0j||
|()||
|[]||
|''||
|{}||


and any object of a class which returns the above values..
anything other than the above returns True.

In [107]:
enumerate(A, start=0)

In [108]:
set(enumerate(A, start=0))

{(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)}

In [109]:
set(enumerate(A, 0))

{(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)}

In [110]:
set(enumerate(A, 9))

{(9, 1), (10, 2), (11, 3), (12, 4), (13, 5)}

enumerate(set, start=0) # enumerates the elements in a set

In [111]:
E

{4, 5}

In [139]:
K={0,1,4,8,9,7}

In [140]:
def myFun(element):
    return element%2==0
# This functions checks if the element is divisble by 2

In [143]:
fil=filter(myFun, K)

In [144]:
set(fil)

{0, 4, 8}

filter(function, iterable) # Here iterable can be a set or list. So depending on the function a new collection is returned.

In [147]:
fil1=filter(None, K) # without any filtering function applied it returns all those values which return True

In [148]:
set(fil1)

{1, 4, 7, 8, 9}

In [176]:
A

{1, 2, 3, 4, 5}

In [177]:
myiter=iter(A)

In [178]:
myiter

In [179]:
next(myiter)

1

In [180]:
next(myiter)

2

In [181]:
next(myiter)

3

In [182]:
next(myiter)

4

In [183]:
next(myiter)

5

iter(collection) creates an iterator and using next we can output one element at a time from the iterator

In [184]:
A

{1, 2, 3, 4, 5}

In [185]:
max(A)

5

In [186]:
min(A)

1

max(set) returns the largest element of a set and min(Set) returns the smallest element of a set

In [187]:
def square_me(n):
    return n*n

In [188]:
map(square_me, A)

In [189]:
result=map(square_me, A)

In [190]:
list(result)

[1, 4, 9, 16, 25]

In [191]:
A

{1, 2, 3, 4, 5}

map(function, collection)  # returns a map of elements from the collection by applying the function to each element

In [196]:
sum(A)

15

sum(collection) returns the sum of all the elements of a collection (Set, list, tuple)

In [233]:
ab={1,2,3} #set
bc={'bat','cat','rat'}
cd={'one','two','three'}
de={'one','two','three', 'four'}
ls=[1,2,3] #list

In [234]:
zip(ab, bc)

In [235]:
result=zip(ab, bc)

In [236]:
set(result)

{(1, 'cat'), (2, 'rat'), (3, 'bat')}

In [237]:
result=zip(bc,cd)

In [238]:
set(result)

{('bat', 'two'), ('cat', 'three'), ('rat', 'one')}

In [239]:
result=zip(ab, cd)

In [240]:
set(result)

{(1, 'three'), (2, 'one'), (3, 'two')}

In [241]:
result=zip(ab, de)

In [242]:
set(result)

{(1, 'four'), (2, 'three'), (3, 'one')}

In [244]:
set(zip(de,ls))

{('four', 1), ('one', 3), ('three', 2)}

In [245]:
set(zip(ls,de))

{(1, 'four'), (2, 'three'), (3, 'one')}

In [247]:
set(zip(ab,bc,de,ls))

{(1, 'cat', 'four', 1), (2, 'rat', 'three', 2), (3, 'bat', 'one', 3)}

zip() iterator returns a collection of tuples mapping the given collections and it stops after the smallest given collection