# Data Types - Lists

In [73]:
import platform
platform.python_version()

'3.7.1'

In [74]:
import string

In [75]:
jl="batman, superman, aquaman, flash, wonderwoman"

In [76]:
jl

'batman, superman, aquaman, flash, wonderwoman'

In [77]:
type(jl)

str

In [78]:
jl=jl.split(',')

In [79]:
jl

['batman', ' superman', ' aquaman', ' flash', ' wonderwoman']

In [80]:
type(jl)

list

## indexing, slicing

In [81]:
jl[0] # first item

'batman'

In [82]:
jl[-1] # last item

' wonderwoman'

##### list[+ve integer]  
index from left to right

##### list[-ve integer]  
index from right to left

In [83]:
import string

In [84]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [85]:
alphas=string.ascii_lowercase

In [86]:
alphas

'abcdefghijklmnopqrstuvwxyz'

In [87]:
type(alphas)

str

In [88]:
al=list(alphas)

In [89]:
al

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [90]:
type(al)

list

In [91]:
al[0]

'a'

In [92]:
al[0:9]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

##### list[start:end:jumpto]  
start - It is an integer. start of index which will be included in the result.  
end - It is an integer. **End** of index which gets **excluded**.  
In short, End gets excluded or right of the colon gets excluded.  
jumpto - between start and end index jumpto the index and print only that.

In [93]:
al[0:9:2] # from 0 till 9 print every 2nd item (including 0th item)

['a', 'c', 'e', 'g', 'i']

In [94]:
al[0:] # always the left item to the : gets included in the result. empty end point defaults to the end of the list.

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [95]:
al[:26]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [96]:
al[0:26]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

al  
al[::]  
al[0:26] or al[0:len(al)]  
al[:]  
al[:26] or al[:len(al)]  
al[0:]  
mean and produce the same results

In [97]:
al[:]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [98]:
al[::]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [99]:
len(al)

26

In [100]:
al[0:len(al)]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [101]:
al[:len(al)]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [102]:
al[0:26:5]

['a', 'f', 'k', 'p', 'u', 'z']

In [103]:
al[0:26:4]

['a', 'e', 'i', 'm', 'q', 'u', 'y']

In [104]:
al[0:26:3]

['a', 'd', 'g', 'j', 'm', 'p', 's', 'v', 'y']

In [105]:
al[0:26:2]

['a', 'c', 'e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']

In [106]:
al[0:26:1]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [107]:
al=al[0:26:4] # select 0th and every 4th item

In [108]:
al

['a', 'e', 'i', 'm', 'q', 'u', 'y']

In [109]:
al.append('9') # list.append() appends the given item to the end of the list

list.append(item) appends an item to the list.

In [110]:
al

['a', 'e', 'i', 'm', 'q', 'u', 'y', '9']

In [111]:
al.append('9') # list allows duplicates

In [112]:
al

['a', 'e', 'i', 'm', 'q', 'u', 'y', '9', '9']

In [113]:
al[3]=44

add an item to the particular index or position of the list. In this example insert 44 at 3rd place/position/index of the list.  
Or  
Set the 3rd item of the list to 44.

In [114]:
al

['a', 'e', 'i', 44, 'q', 'u', 'y', '9', '9']

In [115]:
nums=[1,2,3,4,5] # a list of few integers

In [116]:
al.extend(nums)

In [117]:
al

['a', 'e', 'i', 44, 'q', 'u', 'y', '9', '9', 1, 2, 3, 4, 5]

In [118]:
nums=(1,2,3,4,5) # a list of few integers) # a tuple of few integers

In [119]:
al.extend(nums)

In [120]:
al

['a', 'e', 'i', 44, 'q', 'u', 'y', '9', '9', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [121]:
nums={1,2} # a set

In [122]:
al.extend(nums)

In [123]:
al

['a',
 'e',
 'i',
 44,
 'q',
 'u',
 'y',
 '9',
 '9',
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2]

list.extend(iterable) extends a list with a given iterable. Iterable is anything which you can iterate through it. Iterable is a collection of items.

In [124]:
nums={'one':1,'two':2} # dictionary

In [125]:
al.extend(nums)

In [126]:
al

['a',
 'e',
 'i',
 44,
 'q',
 'u',
 'y',
 '9',
 '9',
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 'one',
 'two']

In [127]:
al=string.ascii_lowercase

In [128]:
al=list(al)

In [129]:
al=al[0::3] # let us choose only few items for further exercise

In [130]:
al

['a', 'd', 'g', 'j', 'm', 'p', 's', 'v', 'y']

In [131]:
al.insert(0,'bat')

In [132]:
al

['bat', 'a', 'd', 'g', 'j', 'm', 'p', 's', 'v', 'y']

In [133]:
al.insert(4,'cat')

In [134]:
al

['bat', 'a', 'd', 'g', 'cat', 'j', 'm', 'p', 's', 'v', 'y']

list.insert(i, x) adds a given x at index i.

In [135]:
al.remove('bat')

In [136]:
al

['a', 'd', 'g', 'cat', 'j', 'm', 'p', 's', 'v', 'y']

In [137]:
al.remove('bat') # returns an error if the item to remove doesn't exist.

ValueError: list.remove(x): x not in list

list.remove(x) removes item x from the list

In [138]:
al.pop(2)

'g'

In [139]:
al

['a', 'd', 'cat', 'j', 'm', 'p', 's', 'v', 'y']

In [140]:
al.pop(1)

'd'

In [141]:
al.pop()

'y'

In [142]:
al

['a', 'cat', 'j', 'm', 'p', 's', 'v']

list.pop(i) pops and outputs the item at index 'i' from list. If no index is given then it pops out the last item.

In [143]:
al

['a', 'cat', 'j', 'm', 'p', 's', 'v']

In [144]:
al.clear()

In [145]:
al

[]

al.clear() clears out the list. It empties the list. It removes all items from the list.

In [146]:
al=string.digits

In [147]:
al

'0123456789'

In [148]:
al=list(al)

In [149]:
al

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [150]:
al.index('1')

1

In [151]:
al[1]='a' # replaces the 1st item of the list with a

In [152]:
al # 1 got replaced with 'a'

['0', 'a', '2', '3', '4', '5', '6', '7', '8', '9']

In [153]:
al.insert(2,1) # insert integer 1 at the index 2. list.insert(index,item).

In [154]:
al

['0', 'a', 1, '2', '3', '4', '5', '6', '7', '8', '9']

In [155]:
al.index('a')

1

In [156]:
al.index(1) # we have integer 1 not string '1'

2

In [157]:
al.index('5')

6

In [158]:
al.insert(3,1)

In [159]:
al.insert(9,1)

In [160]:
al

['0', 'a', 1, 1, '2', '3', '4', '5', '6', 1, '7', '8', '9']

In [161]:
al.index(1) # lists the index of the 1st occurence of the given item.

2

In [162]:
al.index(1,3,8) # get the index of 1 between 3rd and 8th index.

3

In [163]:
al.index(1,5,11)

9

In [164]:
al.index(1,5,len(al)) # you can simply put the length of the list to search till the end

9

In [165]:
len(al)

13

list.index(x[, start[, end]]) Gets the zero-based index of x between the index 'start' and 'end'

In [166]:
al.count(1) # counts the number of occurences of a given item in a list

3

list.count(element) counts the number of times a given 'element' is present in a list.

In [167]:
al.insert(1,'a')

In [168]:
al.remove(1) # run it 3 times to remove 1 which is an integer since others are all string

In [169]:
al

['0', 'a', 'a', 1, '2', '3', '4', '5', '6', 1, '7', '8', '9']

In [170]:
al.sort() # you cannot sort a list which is a mix of integers and strings. so let us remove 1

TypeError: '<' not supported between instances of 'int' and 'str'

In [171]:
al.remove(1)

In [172]:
al

['0', 'a', 'a', '2', '3', '4', '5', '6', 1, '7', '8', '9']

In [173]:
nums=[1,4,6,8,2,4,54]

In [174]:
nums.sort()

In [175]:
nums

[1, 2, 4, 4, 6, 8, 54]

In [176]:
nums.sort(reverse=True)

In [177]:
nums

[54, 8, 6, 4, 4, 2, 1]

In [178]:
nums.sort(reverse=True) # the default value of reverse is False

In [179]:
nums

[54, 8, 6, 4, 4, 2, 1]

In [291]:
ls1=[(6,2),(1,8),(9,7)]
ls2=['batman','superman','flash','aquaman']

In [292]:
def sortFun(item):
    return item[0] # returns 0th item
def sortFun1(item):
    return item[1] # returns 1st item

In [293]:
ls1.sort()

In [294]:
ls1

[(1, 8), (6, 2), (9, 7)]

In [295]:
ls1.sort(key=sortFun)

In [296]:
ls1 # result is the same as basic sort, it sorts based on the 1st item of the given pair of item.

[(1, 8), (6, 2), (9, 7)]

In [297]:
ls1.sort(key=sortFun1)

In [298]:
ls1

[(6, 2), (9, 7), (1, 8)]

In [299]:
ls2

['batman', 'superman', 'flash', 'aquaman']

In [300]:
ls2.sort()

In [301]:
ls2

['aquaman', 'batman', 'flash', 'superman']

In [191]:
len('batman') # len() built in python function gives us the length of a string

6

In [192]:
def letter0(somestring):
    return somestring[0]

In [193]:
ls2.sort(key=letter0)

In [194]:
ls2

['aquaman', 'batman', 'flash', 'superman']

In [195]:
def letter1(somestring):
    return somestring[1]

In [196]:
ls2.sort(key=letter1)

In [197]:
ls2

['batman', 'flash', 'aquaman', 'superman']

In [198]:
def letter3(somestring):
    return somestring[3]

In [199]:
ls2.sort(key=letter3)

In [200]:
ls2

['aquaman', 'superman', 'batman', 'flash']

In [201]:
ls2.sort(reverse=True, key=letter3)

In [202]:
ls2

['flash', 'batman', 'superman', 'aquaman']

list.sort(reverse=False, key=function) sorts a list.  
reverse - optional parameter. default is false. If set True then it will do the sorting from reverse or from right to left.  
key - optional parameter. Define your own sorting order.

In [288]:
ls2

['aquaman', 'superman', 'batman', 'cyborg', 'flash', [(6, 2), (9, 7), (1, 8)]]

In [289]:
ls2.reverse()

In [290]:
ls2

[[(6, 2), (9, 7), (1, 8)], 'flash', 'cyborg', 'batman', 'superman', 'aquaman']

###### list.revese() simply reverses a list. It is the same as list.sort(reverse=True)

In [206]:
ls2

['aquaman', 'superman', 'batman', 'flash']

In [207]:
ls3=ls2.copy()

In [208]:
ls3

['aquaman', 'superman', 'batman', 'flash']

In [209]:
id(ls2)

103149936

In [210]:
id(ls3)

102556896

In [211]:
ls2.insert(3,'cyborg')

###### list.insert(i, x) inserts element x into the list at index i

In [212]:
ls2

['aquaman', 'superman', 'batman', 'cyborg', 'flash']

In [213]:
id(ls2)

103149936

In [214]:
id(ls3)

102556896

list.copy() does a real copy and not a shadow copy

In [215]:
stack=[1,2]

In [216]:
stack.append(3)

In [217]:
stack

[1, 2, 3]

In [218]:
stack.append(4)

In [219]:
stack

[1, 2, 3, 4]

In [220]:
stack.pop()

4

In [221]:
stack.pop()

3

In [222]:
stack.pop()

2

In [223]:
stack.pop()

1

In [224]:
stack

[]

**Stack** The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index.

In [225]:
from collections import deque

In [226]:
ls2

['aquaman', 'superman', 'batman', 'cyborg', 'flash']

In [227]:
queue = deque(ls2)
# let us assume a queue where the heroes in the list are standing in queue, may be at a restaraunt or some event.

In [228]:
queue

deque(['aquaman', 'superman', 'batman', 'cyborg', 'flash'])

Normally 'first come first serve' is applied for a queue.

In [229]:
queue.popleft() # pop the leftmost item from the queue

'aquaman'

In [230]:
queue

deque(['superman', 'batman', 'cyborg', 'flash'])

In [231]:
queue.append('wonderwoman')

In [232]:
queue

deque(['superman', 'batman', 'cyborg', 'flash', 'wonderwoman'])

**Queue** list.popleft() pops the leftmost item from the stack. It is the same as list.pop(0). So you can implement queue with list.pop(0) and list.append()

In [233]:
jl

['batman', ' superman', ' aquaman', ' flash', ' wonderwoman']

In [234]:
del jl[1]

In [235]:
jl

['batman', ' aquaman', ' flash', ' wonderwoman']

In [236]:
del jl[3]

In [237]:
jl

['batman', ' aquaman', ' flash']

del list[index] deletes the item at that index from a given list

In [238]:
# create an empty list
dc=[]

In [239]:
dc

[]

In [240]:
len(jl) # check length of a list

3

In [241]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [242]:
jl

['batman', ' aquaman', ' flash']

In [243]:
ls2

['aquaman', 'superman', 'batman', 'cyborg', 'flash']

In [244]:
jl+ls2 # concatenate lists

['batman',
 ' aquaman',
 ' flash',
 'aquaman',
 'superman',
 'batman',
 'cyborg',
 'flash']

In [245]:
jl*3 # repetition

['batman',
 ' aquaman',
 ' flash',
 'batman',
 ' aquaman',
 ' flash',
 'batman',
 ' aquaman',
 ' flash']

In [246]:
3*jl # repetition

['batman',
 ' aquaman',
 ' flash',
 'batman',
 ' aquaman',
 ' flash',
 'batman',
 ' aquaman',
 ' flash']

In [247]:
'batman' in ['batman', ' aquaman', ' flash'] # check membership

True

In [248]:
'catman' in ['batman', ' aquaman', ' flash'] # check membership

False

In [249]:
jl

['batman', ' aquaman', ' flash']

In [250]:
ls2

['aquaman', 'superman', 'batman', 'cyborg', 'flash']

In [251]:
nums

[54, 8, 6, 4, 4, 2, 1]

In [252]:
max(nums) # select the biggest item

54

In [253]:
min(nums) # select the smallest item

1

|Description|syntax|Results|
|-----|-----|-----|
|length of the list|len([1,2,3])|3|
|concatenation|[1,2]+[3,4]|[1, 2, 3, 4]|
|repetition|3*['a']|['a', 'a', 'a']|
|membership operator|3 in [1,2,3]|True|
|iteration|for i in [1,2,3]: print (i)| 1 2 3 |

In [254]:
jl

['batman', ' aquaman', ' flash']

In [255]:
ls2

['aquaman', 'superman', 'batman', 'cyborg', 'flash']

In [256]:
ls1

[(6, 2), (9, 7), (1, 8)]

In [257]:
ls2.append(ls1)

In [258]:
ls2 # nested list

['aquaman', 'superman', 'batman', 'cyborg', 'flash', [(6, 2), (9, 7), (1, 8)]]

In [259]:
jl.append(ls2)

In [260]:
jl # nested list

['batman',
 ' aquaman',
 ' flash',
 ['aquaman',
  'superman',
  'batman',
  'cyborg',
  'flash',
  [(6, 2), (9, 7), (1, 8)]]]

In [261]:
bool1=[True, False]

In [262]:
bool2=[True, True]

In [263]:
any(boolist)

NameError: name 'boolist' is not defined

In [264]:
all(bool1)

False

In [265]:
all(bool2)

True

In [266]:
enumerate(bool1,0)

In [279]:
type(bool1)

list

In [267]:
list(enumerate(bool1,0))

[(0, True), (1, False)]

In [269]:
sorted(ls1)

[(1, 8), (6, 2), (9, 7)]

In [281]:
nums=[1,2,3]

In [282]:
type(nums)

list

In [283]:
sum(nums)

6

In [286]:
sorted(nums)

[1, 2, 3]

In [287]:
sorted(nums, reverse=True)

[3, 2, 1]