# Python3.7 - Data Types - Dictionary

*dictionary is an unordered collection of items*

In [1]:
d={} # empty dictionary

In [2]:
type(d)

dict

In [12]:
num={'1':'one', '2':'two', '3':'three','4':'four','5':'five','6':'six'}

In [13]:
type(num)

dict

In [115]:
num={1:'one', 2:'two', 3:'three',4:'four',5:'five',6:'six'}

In [21]:
# similar valid examples
d0={1:'one',2:'two'}  
d1={1:'one',2:'two', 3:['tri','three']}  
d2={1:'one',2:'two', 3:['tri','three'], 4:('for', 'four')}

In [22]:
type(d0)

dict

In [23]:
type(d1)

dict

In [24]:
type(d2)

dict

accessing values

In [25]:
num[1]

'one'

**dict[key] will return the value of a key from the given dictionary dict.**

In [26]:
num.keys()

dict_keys([1, 2, 3, 4, 5, 6])

**dict.keys() returns all the keys**

In [28]:
num.values()

dict_values(['one', 'two', 'three', 'four', 'five', 'six'])

**dict.values()** returns all the values of a given dictionary

In [122]:
num.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')])

**dict.items()** returns a list of tuples with each key:value pair

In [29]:
num.get(1)

'one'

In [30]:
num[1]

'one'

dict.get(key) and dict[key] returns the value of the given key and they will error but num.get() won't error out if the key doesn't exist or invalid but num[key] errors out in this scenario.

In [116]:
num.get(9)

In [117]:
num[9]

KeyError: 9

In [118]:
num[9, None]

KeyError: (9, None)

In [121]:
num.get(9)

In [ ]:
num.get(9) is None

In [120]:
num.get(9, None)

**dict.get(key, default=None)** gets the value of the key from a given dictionary and if the key isn't present then it returns None by default

##### change or update dictionary

In [41]:
num

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [42]:
num[9]

KeyError: 9

In [43]:
num[9]='nine'

In [44]:
num

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 9: 'nine'}

In [45]:
num[9]='nyn'

In [46]:
num

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 9: 'nyn'}

**dict[key]=value** adds key:value pair to a dictionary, if the key already exists then the value of the key will be replaced with the newly provided value.

In [47]:
sq={1:1, 2:4, 3:9, 4:16, 5:25}

In [50]:
type(sq)

dict

In [53]:
sq.pop(2)

4

In [54]:
sq

{1: 1, 3: 9, 4: 16, 5: 25}

In [55]:
sq.pop(4)

16

**dict.pop(key)** pops out a key:value pair from a given dictionary

In [56]:
d0

{1: 'one', 2: 'two'}

In [57]:
d0.clear()

In [58]:
d0

{}

**dict.clear()** clears or empties a given dictionary

In [60]:
sq

{1: 1, 3: 9, 5: 25}

In [62]:
sq={1:1, 2:4, 3:9, 4:16, 5:25}

In [63]:
sq.copy()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**dict.copy()** returns a copy of the given dictionary

In [64]:
myset={11,22,33,44,55}

In [65]:
type(myset)

set

In [66]:
dict.fromkeys(myset)

{33: None, 11: None, 44: None, 22: None, 55: None}

In [67]:
dict.fromkeys(myset, 'wow')

{33: 'wow', 11: 'wow', 44: 'wow', 22: 'wow', 55: 'wow'}

In [68]:
mylist=[11,22,33,44,55]

In [69]:
type(mylist)

list

In [70]:
dict.fromkeys(mylist)

{11: None, 22: None, 33: None, 44: None, 55: None}

In [71]:
dict.fromkeys(mylist, 'wow')

{11: 'wow', 22: 'wow', 33: 'wow', 44: 'wow', 55: 'wow'}

In [72]:
mytup=(11,22,33,44,55)

In [73]:
type(mytup)

tuple

In [74]:
dict.fromkeys(mytup)

{11: None, 22: None, 33: None, 44: None, 55: None}

In [75]:
dict.fromkeys(mytup, 'wow')

{11: 'wow', 22: 'wow', 33: 'wow', 44: 'wow', 55: 'wow'}

**dict.fromkeys(keys[, value])** creates a dictionary from a set of given keys with None as their value if a value is not given. You can also create a dictionary with a mutable object list.

In [93]:
myset

{11, 22, 33, 44, 55}

In [94]:
value=[9]

In [95]:
new_d=dict.fromkeys(myset, value)

In [96]:
new_d

{33: [9], 11: [9], 44: [9], 22: [9], 55: [9]}

In [97]:
value.append(1)

In [98]:
value

[9, 1]

In [99]:
new_d

{33: [9, 1], 11: [9, 1], 44: [9, 1], 22: [9, 1], 55: [9, 1]}

So if the provided value is mutable and when that is updated/changed then the dictionary too will get updated/changed accordingly. You can avoid that with set comprehension.

In [100]:
myset

{11, 22, 33, 44, 55}

In [101]:
value=[9]

In [102]:
new_d={key : list(value) for key in myset}

In [103]:
new_d

{33: [9], 11: [9], 44: [9], 22: [9], 55: [9]}

In [104]:
value.append(8)

In [105]:
value

[9, 8]

In [106]:
new_d

{33: [9], 11: [9], 44: [9], 22: [9], 55: [9]}

##### properties of keys

 - Only one entry per key is allowed.
     meaning a key can be a string, integer or a tuple but not strings, integers or tuples.
 - A key must be immutable (strings, numbers or tuples)  
 - A key will be unique per dictionary. If a key is updated twice then the last update will be applied.

In [112]:
len(num) # len(dict) gets the length of a given dictionary

7

In [111]:
str(num) # str(dict) converts a given dictionary into a string

"{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 9: 'nyn'}"

In [153]:
sq={1:1, 2:4, 3:9, 4:16, 5:25}
d3={'a':'hey','b':'hi','c':'wow','d':'lol'}
d4={'aa':11,'bb':22}
d5={1:'one',2:'two'}

In [160]:
sq.update(d5) # update the key:value pairs of dictionary d5 into dictionary sq

In [161]:
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [162]:
sq={1:1, 2:4, 3:9, 4:16, 5:25}
d3={'a':'hey','b':'hi','c':'wow','d':'lol'}
d4={'aa':11,'bb':22}
d5={1:'one',2:'two'}

In [163]:
d5.update(sq) # update the key:value pairs of dictionary sq into dictionary d5

In [164]:
d5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [165]:
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [166]:
sq.setdefault(3)

9

In [167]:
sq.setdefault(6)

In [168]:
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: None}

In [169]:
sq.setdefault(7, 14)

14

In [170]:
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: None, 7: 14}

**dict.setdefault(key[, default_value])** gets a key's value if present and if absent then inserts the key with the default given value. If a default value is not given then None is set as the default value.

In [171]:
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: None, 7: 14}

In [172]:
sq.popitem()

(7, 14)

In [173]:
sq.popitem()

(6, None)

**dict.popitem()** pops out the last item (key:value pair) from a diven dictionary

In [175]:
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [176]:
1 in sq

True

In [177]:
11 not in sq

True

In [178]:
11 in sq

False

|method|description|
|-----|-----|
|dict()|creates a dictionary|
|dict.keys()|retrieves all the keys of a dictionary|
|dict.values()|retrieves all the values of a dictionary|
|dict.items()|retrieves all the key:value pairs as a tuple|
|dict.get(key, default=None)|retrieves the key's value of a given dictionary, if key is not present then returns None|
|dict[key]|retrieves the key's value of a given dictionary|
|dict.pop(key)|removes and returns a key:value pair from a given dictionary|
|dict.clear()|empties the given dictionary|
|dict.copy()|returns a copy of a given dictionary|
|dict.fromkeys(keys[, value])|creates a dictionary from all the given keys with their value as None if no value is given|
|dict.update(dict1)|update a dictionary with key values of another dictionary|
|dict.setdefault(key[, default_value])|inserts a key into the dictionary with None as it's value if no default_value is given|
|dict.popitem()|remove and return the last item of a dictionary|
|del dict[key]|deletes a key value pair from the dictionary|

##### Building a dictionary

In [181]:
team={}

In [182]:
type(team)

dict

In [184]:
team['batman']='bruce wayne'

In [185]:
team

{'batman': 'bruce wayne'}

In [186]:
team['superman']='clark kent'

In [187]:
team['flash']='barry'

In [188]:
team

{'batman': 'bruce wayne', 'superman': 'clark kent', 'flash': 'barry'}

dict[key]=value adds a key, value or an item to a dictionary

In [189]:
team

{'batman': 'bruce wayne', 'superman': 'clark kent', 'flash': 'barry'}

In [190]:
del team['batman']

In [191]:
team

{'superman': 'clark kent', 'flash': 'barry'}

##### dictionary to list

In [199]:
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [192]:
sq.items()

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)])

In [198]:
list(sq.items())

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

##### list to dictionary

In [1]:
d6=['one','two','three']
d7=[1,2,3]

In [195]:
zip(d7,d6)

In [200]:
list(zip(d7,d6))

[(1, 'one'), (2, 'two'), (3, 'three')]

In [202]:
dict(list(zip(d7,d6))) # all in one step

{1: 'one', 2: 'two', 3: 'three'}

In [10]:
d1=['one','two','three']
d2=[1,2,3,4,5]
print(zip(d1,d2))
print(list(zip(d1,d2)))
print(dict(list(zip(d1,d2))))

<zip object at 0x05E494B8>
[('one', 1), ('two', 2), ('three', 3)]
{'one': 1, 'two': 2, 'three': 3}

In [8]:
zip(d1,d2)

In [9]:
list(zip(d1,d2))

[('one', 1), ('two', 2), ('three', 3)]