# Python3.7 - Data Types - Strings

In [15]:
import platform
platform.python_version()

'3.7.1'

In [1]:
a=2

In [2]:
type(a)

int

In [3]:
a='2'

In [4]:
type(a)

str

In [5]:
a=9

In [6]:
type(a)

int

In [7]:
str(a)

'9'

In [8]:
type(str(a))

str

In [237]:
a='batman'

In [239]:
type(a)

str

In [341]:
a[1]='e' # strings are immutable (you cannot modify them). We will cover this later at some point.

TypeError: 'str' object does not support item assignment

How to print quotes in a string?!

In [262]:
'The real name of batman is "bruce wayne" ' # put double quotes inside single quotes

'The real name of batman is "bruce wayne" '

In [263]:
"The real name of batman is 'bruce wayne' "  # put single quotes inside double quotes

"The real name of batman is 'bruce wayne' "

In [264]:
"The real name of batman is \"bruce wayne\" "

'The real name of batman is "bruce wayne" '

In [265]:
'The real name of batman is \'bruce wayne\' '

"The real name of batman is 'bruce wayne' "

## Slicing and Indexing

In [1]:
jl='batman superman'

In [2]:
len(jl)

15

In [3]:
type(jl)

str

In [4]:
jl[0] # indexing always starts with zero and not 1.

'b'

In [5]:
jl[1]

'a'

In [6]:
jl[1:5] # from 1st to 5th. Includes the 1st till 5th but including 5th.

'atma'

#### str[start:end]  
str - string data  
start - the starting index including itself  
end - the ending index excluding itself.  
Start index gets included, __End__ index gets __Excluded__    
In the basense of an endpoint, all from the start index including itself will be selected  
In the absense of a startpoint, all before the end index excluding itself will be selected  
In the absense of both the start and endpoint, all will be selected

In [285]:
jl[0] # first item

'b'

In [288]:
jl[14] # last item

'n'

In [289]:
jl[:] #

['b', 'a', 't', 'm', 'a', 'n', ' ', 's', 'u', 'p', 'e', 'r', 'm', 'a', 'n']

In [293]:
jl[0:6] # from 0th item including itself(0th item) till 6th item but excluding itself(6th item)

['b', 'a', 't', 'm', 'a', 'n']

In [294]:
jl[0:] # every item after 0th item including itself

['b', 'a', 't', 'm', 'a', 'n', ' ', 's', 'u', 'p', 'e', 'r', 'm', 'a', 'n']

In [295]:
jl[:6] # every item before 6th item but excluding itself

['b', 'a', 't', 'm', 'a', 'n']

In [297]:
jl[6] # 6th item is a space

' '

In [298]:
jl[-1]

'n'

Indexing can also be done from right to left but it starts with -1

In [313]:
jl[-16:-1]

['b', 'a', 't', 'm', 'a', 'n', ' ', 's', 'u', 'p', 'e', 'r', 'm', 'a']

In [300]:
jl[0:15]

['b', 'a', 't', 'm', 'a', 'n', ' ', 's', 'u', 'p', 'e', 'r', 'm', 'a', 'n']

In [302]:
len(jl)

15

- The count in python from left to right starts with 0  
- The count in python from right to left starts with -1  
- As per general math the length of the string jl is 16 but as per python it will always be one less than the actual mathematical length, that is 15.  
- Irrespective of whether you index from left or right, the item appearing at the index mentioned on right side of the colon(:) is always exluded from the result.

In [310]:
jl[-1]

'n'

In [311]:
jl[:-1]

['b', 'a', 't', 'm', 'a', 'n', ' ', 's', 'u', 'p', 'e', 'r', 'm', 'a']

In [312]:
jl[-16:-1]

['b', 'a', 't', 'm', 'a', 'n', ' ', 's', 'u', 'p', 'e', 'r', 'm', 'a']

In [314]:
jl

['b', 'a', 't', 'm', 'a', 'n', ' ', 's', 'u', 'p', 'e', 'r', 'm', 'a', 'n']

In [315]:
jl[0:15] # is the same as jl[0:15:1]

['b', 'a', 't', 'm', 'a', 'n', ' ', 's', 'u', 'p', 'e', 'r', 'm', 'a', 'n']

In [317]:
jl[0:15:1]

['b', 'a', 't', 'm', 'a', 'n', ' ', 's', 'u', 'p', 'e', 'r', 'm', 'a', 'n']

In [ ]:
string[start:end:move right by position]

In [320]:
jl[5:10]

['n', ' ', 's', 'u', 'p']

In [321]:
jl[5:10:1]

['n', ' ', 's', 'u', 'p']

In [322]:
jl[10:5]

[]

In [323]:
jl[10:5:1]

[]

In [324]:
jl[10:5:-1]

['e', 'p', 'u', 's', ' ']

- when the skip integer is positive integer then it means that we are moving from left to right.  
if it is 1 then **It means get the next 1st item from the right.**  
if it is 2 then **It means get the next 2nd item from the right.**
- when the skip negative is positive integer then it means that we are moving from left to right.

In [327]:
jl[4::-1] # In the absense of end index, it defaults to start of string.

['a', 'm', 't', 'a', 'b']

In [339]:
jl[4:0:-1] # start of the string is 0 but the starting item 'b' is omitted here because the end index always gets excluded.

['a', 'm', 't', 'a']

In [336]:
jl[:4:-1] # In the absense of start index, it defaults to end of string.

['n', 'a', 'm', 'r', 'e', 'p', 'u', 's', ' ', 'n']

In [338]:
jl[-1:4:-1] # same result as the above

['n', 'a', 'm', 'r', 'e', 'p', 'u', 's', ' ', 'n']

In [3]:
jl

'batman superman'

In [7]:
jl[::4] # prints 0th item and then onwards every 4th item

'baum'

In [8]:
jl[:5:] # from 0 till 5th but excluding

'batma'

In [10]:
jl[5::] # from 5th to everything

'n superman'

In [11]:
jl[5:] # same as above

'n superman'

## Insert variables inside a string

In [10]:
first='gajendra'

In [11]:
last='ambi'

In [12]:
type(first)

str

In [13]:
type(last)

str

In [15]:
f'{first} {last}'

'gajendra ambi'

In [22]:
f"{first} {last}"

'gajendra ambi'

In [20]:
F'{first} {last}'

'gajendra ambi'

In [21]:
F"{first} {last}"

'gajendra ambi'

## String operators

### + operator

In [26]:
a='bat'

In [27]:
b='man'

In [28]:
a+b

'batman'

### * operator

In [33]:
a='cat'

In [34]:
a*3

'catcatcat'

In [36]:
a # the original data is unchanged

'cat'

In [39]:
a*3

'catcatcat'

In [40]:
a*2

'catcat'

In [41]:
a*1

'cat'

In [42]:
a*-1

''

In [43]:
a*-2

''

In [44]:
a*-3

''

## Built in functions

| Function | Action |
| ---- | ---- |
| chr() | integer to character |
| str() | converts to string |
| ord() | character to integer |
| len() | length of a string |

In [64]:
batman,superman='bruce','clark' # multiple variable assignment

### chr()

returns a character value for the given integer

In [67]:
chr(9)

'\t'

In [68]:
chr(108)

'l'

In [69]:
chr(999)

'ϧ'

In [70]:
chr(10000)

'✐'

## str()

Converts given value to string type

In [72]:
str(9) # int to string

'9'

In [76]:
str(10009)

'10009'

## ord()

converts a given character to an integer

In [79]:
ord('✐')

10000

In [80]:
ord('ϧ')

999

In [81]:
ord('\t')

9

## len()

show the length of a string

In [83]:
len('hello world')

11

In [85]:
bat=batman

In [86]:
len(bat)

5

## String constants

| constant | action | result |
| ----- | ----- | ----- |
| ascii_lowercase | lowercase alphabets | 'abcdefghijklmnopqrstuvwxyz' |
| ascii_uppercase | uppercase alphabets | 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' |
| ascii_letters | upper and lower alphabets | 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ' |
| digits | digits | '0123456789' |
| hexdigits | all hexagonal | '0123456789abcdefABCDEF' |
| octdigits | all otagonal | '01234567' |
| punctuation | all punctuates | ```!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~``` |
| printable | hi | ```0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c``` |
| whitespace | characters which are used for spacing | ' \t\n\r\x0b\x0c' |


Note :- All output data type is string.

### Whitespace
| whitespace | Description |
|-----|-----|
| ```  ``` | Space |
| \t | tab |
| \n | linefeed(new line) |
| \r | return(enter key on keyboard) |
| \x0b | formfeed |
| \x0c | vertical tab |

In [11]:
import string

In [14]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [16]:
a=string.ascii_lowercase

In [17]:
type(a)

str

In [3]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [4]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [5]:
string.digits

'0123456789'

In [6]:
string.hexdigits

'0123456789abcdefABCDEF'

In [7]:
string.octdigits

'01234567'

In [8]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [9]:
string.printable

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [10]:
string.whitespace

' \t\n\r\x0b\x0c'

### helper functions

In [47]:
a='batman'

In [48]:
a

'batman'

In [49]:
type(a)

str

In [50]:
a.capitalize()

'Batman'

In [51]:
a.upper()

'BATMAN'

In [52]:
b='SUPERMAN'

In [53]:
b

'SUPERMAN'

In [54]:
b.lower()

'superman'

In [55]:
b

'SUPERMAN'

In [56]:
c='meow'

In [57]:
c

'meow'

In [58]:
min(c)

'e'

##### min()

 returns the minimum letter in a string. The letter which is closest to the 1st alphabet.

##### max()

 returns the maximum letter in a string. The letter which is fartherst to the 1st alphabet.

In [59]:
a, b, c

('batman', 'SUPERMAN', 'meow')

In [60]:
max(a)

't'

In [61]:
 max(b)

'U'

In [62]:
max(c)

'w'

In [63]:
a

'batman'

In [76]:
a

'batman'

In [77]:
a.split('t') # split on a character, here it is t

['ba', 'man']

In [13]:
data='first_middle_last'

In [79]:
data

'first_middle_last'

In [81]:
data.split('_') # split based on a character

['first', 'middle', 'last']

In [83]:
data.split()

['first_middle_last']

In [84]:
data.split('')

ValueError: empty separator

In [14]:
data.split('_', 1)

['first', 'middle_last']

In [15]:
data.split('_', 2)

['first', 'middle', 'last']

##### .split('delimeter', n)

splits a string. It takes an input. .split(), .split('some character') are accepted usages, .split('') is not an accepted usage. optionally you can specify how many times it should split, default is infinite.

In [87]:
alphas=string.ascii_lowercase

In [88]:
alphas

'abcdefghijklmnopqrstuvwxyz'

In [89]:
alphas=list(alphas)

In [90]:
type(alphas)

list

In [91]:
alphas

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [104]:
''.join(alphas)

'abcdefghijklmnopqrstuvwxyz'

In [99]:
'_'.join(alphas)

'a_b_c_d_e_f_g_h_i_j_k_l_m_n_o_p_q_r_s_t_u_v_w_x_y_z'

In [100]:
'-'.join(alphas)

'a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z'

In [101]:
'v'.join(alphas)

'avbvcvdvevfvgvhvivjvkvlvmvnvovpvqvrvsvtvuvvvwvxvyvz'

In [102]:
'*'.join(alphas)

'a*b*c*d*e*f*g*h*i*j*k*l*m*n*o*p*q*r*s*t*u*v*w*x*y*z'

In [103]:
'[]'.join(alphas)

'a[]b[]c[]d[]e[]f[]g[]h[]i[]j[]k[]l[]m[]n[]o[]p[]q[]r[]s[]t[]u[]v[]w[]x[]y[]z'

##### ''.join()

joins a list of strings provided in () and it optionally takes a character to join with

In [106]:
count(a)

NameError: name 'count' is not defined

In [107]:
a

'batman'

In [108]:
a.count('a')

2

In [109]:
'google'.count('g')

2

In [110]:
'google'.count('o')

2

In [111]:
'google'.count('e')

1

##### ''.count()

counts the number of times a substring appears in a string. 'string'.count('substring')

In [120]:
text = "justice league"  
result = text.zfill(25)

In [121]:
result

'00000000000justice league'

In [122]:
len(result)

25

In [123]:
text.zfill(4)

'justice league'

##### .zfill(n)

increases the length of a string to n where is n is not None or empty. It doesn't do anything if n is less than the length of the string.

In [127]:
text

'justice league'

In [130]:
text.istitle()

False

In [132]:
text='Justice League'

In [133]:
text

'Justice League'

In [134]:
text.istitle()

True

##### .istitle()

checks if the given string is a title and returns a boolean (True or False) result.

In [146]:
data='Red is a color, Green is a color, Blue is a color cat is an animal'

In [147]:
data

'Red is a color, Green is a color, Blue is a color cat is an animal'

In [148]:
data.rpartition('is')

('Red is a color, Green is a color, Blue is a color cat ', 'is', ' an animal')

#### ''.rpartition('') (right partition)

partitions a string at the last occurence of a given substring. Here is how you use it.  
- string.rpartition(substring)  
the output will be  
- (string, substring, partition)

In [16]:
data='Red is a color, Green is a color, Blue is a color cat is an animal'

In [17]:
data.rpartition('is')

('Red is a color, Green is a color, Blue is a color cat ', 'is', ' an animal')

In [18]:
data.partition('is')

('Red ', 'is', ' a color, Green is a color, Blue is a color cat is an animal')

#### ''.partition('')

partitions a string at the **first** occurence of a given substring. Here is how you use it.  
- string.partition(substring)  
the output will be  
- (string, substring, partition)

In [157]:
jl="batman superman"

In [158]:
jl

'batman superman'

In [159]:
type(jl)

str

In [160]:
jl.isidentifier()

False

In [161]:
jl="batmansuperman"

In [162]:
jl.isidentifier()

True

In [165]:
jl="Batmansuperman"

In [166]:
jl.isidentifier()

True

In [167]:
jl="_Batmansuperman"

In [168]:
jl.isidentifier()

True

#### .isidentifier()

checks if the given string is an identifier and returns a boolean (True or False) result.  
A Python **identifier** is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore ( _ ) followed by zero or more letters, underscores and digits (0 to 9)

In [171]:
bat='batman'

In [172]:
bat

'batman'

In [174]:
bat.center(9)

'  batman '

In [175]:
bat.center(19)

'       batman      '

In [179]:
bat.center(19, '!')

'!!!!!!!batman!!!!!!'

#### str.center(int, string)

adds as many string as needed around the given str to align it to the center.  
string - optional parameter  
int - mandatory parameter

In [42]:
jl='batman, superman, aquaman, wonderwoman, flash'

In [214]:
type(jl)

str

In [217]:
len(jl)

45

In [219]:
jl.rfind('man')

35

In [220]:
jl.rfind('man', 0, 15)

3

In [221]:
jl.rfind('man', 0, 16)

13

In [224]:
jl.rfind('man', 15, 30)

22

In [226]:
jl.rfind('man', 30, 45)

35

In [236]:
jl.rfind('men')

-1

#### str.rfind(subs, start, end)  
right find or find from right to left

str - input string  
subs - substring to search for  
start - the starting index of string from where the search begins  
end - the ending string at where the search ends  
returns -1 if not found.

In [229]:
jl

'batman, superman, aquaman, wonderwoman, flash'

In [230]:
jl.find('man') # left to right

3

In [21]:
jl.rfind('man') # right to left

12

In [233]:
jl.find('man', 0, 15)

3

In [234]:
jl.find('man', 0, 16)

3

In [235]:
jl.find('man', 30, 45)

35

#### str.find(subs, start, end)

str - input string
subs - substring to search for
start - the starting index of string from where the search begins
end - the ending string where the search ends
returns -1 (minus 1) if not found.

In [243]:
a='batman'

In [244]:
b='batman'

In [245]:
c='catman'

In [246]:
id(a)

89691968

In [247]:
id(b)

89691968

the id of a and b are same, since their values are the same.

In [248]:
id(c)

9674848

In [251]:
b='ratman'

In [252]:
id(b)

9677280

since the values of a and b are different, their IDs are different too.

In [22]:
jl

'batman superman'

In [23]:
jl.replace('a', '@')

'b@tm@n superm@n'

In [24]:
jl.replace('a', '@', 1)

'b@tman superman'

In [25]:
jl.replace('a', '@', 2)

'b@tm@n superman'

In [26]:
jl.replace('a', '@', 3)

'b@tm@n superm@n'

In [27]:
jl.replace('a', '@', 9)

'b@tm@n superm@n'

#### str.replace('old','new'[,count]) 
str - string
old - substring which will get replaced
new - replace the substring with this one
count - This many times the replacing will occur. If this value is not given, it will be done for the whole string.

In [36]:
jlu=jl.upper() # makes all of them upper

In [37]:
jlu

'BATMAN SUPERMAN'

In [38]:
jlu.casefold() # aggressively lowercase the string

'batman superman'

In [39]:
jl.count('a')

3

In [40]:
jl.count('a',0,5)

2

In [45]:
jl.count('a',0,15) # str.count(sub[,start[,end]])

3

In [43]:
len(jl)

15

In [44]:
jl

'batman superman'

In [48]:
jl.encode() # str.encode() encodes a string into a given encoding style

b'batman superman'

In [47]:
jl.encode(encoding="utf-8",errors='strict')

b'batman superman'

In [49]:
jl.startswith('b') # str.startswith(substring) checks if a given string starts with a substring

True

In [51]:
jl.endswith('n') # str.endswith(substring) checks if a given string ends with a substring

True

In [56]:
jlt='\tbatman \t\t superman'

In [57]:
jlt

'\tbatman \t\t superman'

In [59]:
jlt.expandtabs() # returns a copy of the string where tabs are replaced by spaces

'        batman           superman'

In [61]:
jlt.expandtabs(tabsize=5) # you can mention the size of the tab

'     batman          superman'

In [62]:
'{} is part of justice league'.format('martian')

'martian is part of justice league'

str.format('subs') is used to format a string, insert variables or values inside a string

In [63]:
bs={'batman':'bruce wayne', 'superman':'clark kent'}

In [64]:
bs

{'batman': 'bruce wayne', 'superman': 'clark kent'}

In [65]:
'{batman} and {superman} are pals'.format_map(bs)

'bruce wayne and clark kent are pals'

str.format(dict) maps a dictionary key values in a string

In [70]:
jl.index('x') # It is similar to str.find() but returns a ValueError instead of -1 if the substring is not found

ValueError: substring not found

In [43]:
jl

'batman, superman, aquaman, wonderwoman, flash'

In [45]:
jl.index('a') # check from left (Default)

1

In [46]:
jl.rindex('a') # check from right

42

In [69]:
jl.find('x')

-1

In [85]:
'a9'.isalnum()

True

In [86]:
'9'.isalnum()

True

In [87]:
'a'.isalnum()

True

In [88]:
''.isalnum()

False

In [89]:
'a9!'.isalnum()

False

str.isalnum() checks whether the given string is alphanumeric and has alteast one character.

In [94]:
'9'.isalpha() or '9'.isdecimal() or '9'.isdigit() or '9'.isnumeric() # If anyone of these is True then it is an alphanumeric

True

In [96]:
'9'.isalpha()

False

In [97]:
'9'.isdecimal()

True

In [98]:
'9'.isdigit()

True

In [99]:
'9'.isnumeric()

True

In [100]:
jl.islower() # str.islower() check if the given string is all lowercase

True

In [101]:
jl.isupper() # str.isupper()check if the given string is all uppercase

False

In [103]:
jlc=jl.capitalize()

In [104]:
jlc # only the 1st letter is upper

'Batman superman'

In [105]:
jlc.isupper()

False

In [106]:
jlc.islower() # the 1st letter is upper

False

In [109]:
''.isspace() # check if the given integer is just a blank space

False

In [108]:
' '.isspace()

True

https://docs.python.org/3/library/stdtypes.html#str.isspace

In [5]:
'   middle   '.lstrip()  # strip left side of all the given substrings. If input for substring is empty then it will remove spaces

'middle   '

In [6]:
'   middle   '.rstrip()  # strip left side of all the given substrings. If input for substring is empty then it will remove spaces

'   middle'

In [4]:
'   middle   '.strip()

'middle'

In [7]:
'https://www.ambig.one'.lstrip('zxyq')

'https://www.ambig.one'

In [8]:
'https://www.ambig.one'.lstrip('h')

'ttps://www.ambig.one'

In [9]:
'https://www.ambig.one'.lstrip('t')

'https://www.ambig.one'

In [10]:
'https://www.ambig.one'.lstrip('ht')

'ps://www.ambig.one'

In [11]:
'https://www.ambig.one'.lstrip('https')

'://www.ambig.one'

In [12]:
'https://www.ambig.one'.lstrip('https://')

'www.ambig.one'

In [13]:
'https://www.ambig.one'.lstrip('www')

'https://www.ambig.one'

In [14]:
'https://www.ambig.one'.lstrip('https://www')

'.ambig.one'

In [15]:
'https://www.ambig.one'.strip('he')

'ttps://www.ambig.on'

In [16]:
'https://www.ambig.one'.lstrip('htne')

'ps://www.ambig.one'

In [17]:
'https://www.ambig.one'.lstrip('htte')

'ps://www.ambig.one'

In [30]:
my_translation_table=str.maketrans('aeiou', '@3!04')

In [31]:
my_translation_table

{97: 64, 101: 51, 105: 33, 111: 48, 117: 52}

In [48]:
data='the batman who laughs'

In [33]:
data

'the batman who laughs'

In [34]:
data.translate(my_translation_table)

'th3 b@tm@n wh0 l@4ghs'

In [35]:
dict={'a':'@','e':'3','i':'!','o':'0','u':'4'}

In [37]:
my_translation_table1=str.maketrans(dict)

In [38]:
my_translation_table1

{97: '@', 101: '3', 105: '!', 111: '0', 117: '4'}

In [40]:
data1='the batman who smiles'

In [41]:
data1.translate(my_translation_table1)

'th3 b@tm@n wh0 sm!l3s'

str.makestrans(intable,outtable) creates a transaction table to be used against str.translate(transactiontable) to do a replacement of substrings

https://docs.python.org/3.7/library/stdtypes.html#str.rjust

In [49]:
data

'the batman who laughs'

In [52]:
data.rjust(50) #rjust--> right adjust

'                             the batman who laughs'

In [54]:
data.rjust(50, '$')

'$$$$$$$$$$$$$$$$$$$$$$$$$$$$$the batman who laughs'

In [57]:
data.ljust(50, '$') #ljust--> left adjust

'the batman who laughs$$$$$$$$$$$$$$$$$$$$$$$$$$$$$'

**str.ljust(width[, fillchar])**  
**str.rjust(width[, fillchar])**  
ljust - left adjust. Insert empty or given 'fillchar' to the left of the given str.  
rjust - right adjust. Insert empty or given 'fillchar' to the right of the given str.  
width - Total len() (length) of the output. meaning how long the output should be...
fillchar - insert this character to make the given string to make it 'width' long. If this value is not provided then python is going to just put enough spaces to make it 'width' long.

In [59]:
data

'the batman who laughs'

In [60]:
data.rsplit(sep=None, maxsplit=-1)

['the', 'batman', 'who', 'laughs']

In [62]:
data.rsplit(sep=None, maxsplit=1)

['the batman who', 'laughs']

In [65]:
data.split(sep=None, maxsplit=1)

['the', 'batman who laughs']

In [63]:
data.rsplit(sep=None, maxsplit=2)

['the batman', 'who', 'laughs']

In [66]:
data.split(sep=None, maxsplit=2)

['the', 'batman', 'who laughs']

In [64]:
data.rsplit(sep='a', maxsplit=2)

['the batm', 'n who l', 'ughs']

In [67]:
data.split(sep='a', maxsplit=2)

['the b', 'tm', 'n who laughs']

In [68]:
data.split('a', 2)

['the b', 'tm', 'n who laughs']

In [69]:
data.rsplit('a', 2)

['the batm', 'n who l', 'ughs']

**str.rsplit(separator, maxsplit)**  
**str.split(separator, maxsplit)**  
str - Input string  
rsplit - right split or start splitting from right  
split - split or start splitting from left (default)  
separator - The substring on which the split should be performed  
maxsplit - number of splits to perform. If this input is not provided then it will be done indefinitely.

https://docs.python.org/3.7/library/stdtypes.html#str.splitlines

In [70]:
''.splitlines()

[]

In [77]:
'hello'.splitlines()

['hello']

In [81]:
'hello world'.splitlines()

['hello world']

In [82]:
'hello world\n'.splitlines()

['hello world']

In [85]:
'hello \n\n\n\nworld\n'.splitlines()

['hello ', '', '', '', 'world']

In [87]:
'hello \n\n\n\nworld\n'.splitlines(keepends=True)

['hello \n', '\n', '\n', '\n', 'world\n']

str.splitlines() breakes as per the following table  

|Representation|Description|
|-----|-----|
|\n|	|Line Feed|
|\r	 	|Carriage Return|
|\r\n	|Carriage Return + Line Feed|
|\v or |\x0b	Line Tabulation|
|\f or |\x0c	Form Feed|
|\x1c	|File Separator|
|\x1d	|Group Separator|
|\x1e	|Record Separator|
|\x85	|Next Line (C1 Control Code)|
|\u2028|Line Separator|
|\u2029|Paragraph Separator|

In [90]:
'hello \n\r\v\x1cworld\n\r\u2029'.splitlines()

['hello ', '', '', '', 'world', '', '']

In [91]:
jl

'batman, superman, aquaman, wonderwoman, flash'

In [94]:
jl.swapcase()

'BATMAN, SUPERMAN, AQUAMAN, WONDERWOMAN, FLASH'

In [95]:
jl

'batman, superman, aquaman, wonderwoman, flash'

In [97]:
jl.upper()

'BATMAN, SUPERMAN, AQUAMAN, WONDERWOMAN, FLASH'

In [98]:
jlu=jl.upper()

In [99]:
jlu

'BATMAN, SUPERMAN, AQUAMAN, WONDERWOMAN, FLASH'

In [100]:
jlu.swapcase()

'batman, superman, aquaman, wonderwoman, flash'

str.swapcase() reverses the casing of the entire string. makes the lowercase string to uppercase and vice versa.